* {
  margin: 0;
  padding: 0; }

.wrapper {
  /*      price*/
  /*	Testimonials*/
  /*	footer*/ }
  .wrapper .menu-logo {
    position: absolute;
    z-index: 1;
    width: 100%; }
    .wrapper .menu-logo .row {
      min-height: 90px; }
    .wrapper .menu-logo .logo {
      display: inline; }
    .wrapper .menu-logo .nav-menu {
      display: inline;
      margin-left: 350px;
      padding-top: 40px; }
    .wrapper .menu-logo .container {
      width: 100%;
      position: fixed;
      background: rgba(0, 0, 0, 0.3);
      z-index: 0; }
    .wrapper .menu-logo .item-menu {
      display: inline-block;
      padding-right: 28px; }
    .wrapper .menu-logo .list-menu {
      display: inline; }
    .wrapper .menu-logo .link-menu {
      text-decoration: none;
      font-size: 14px;
      color: white; }
    .wrapper .menu-logo .link-menu:hover {
      color: #4bcaff; }
    .wrapper .menu-logo .active a {
      border-top: 3px solid #4bcaff;
      color: #4bcaff;
      padding-top: 37px; }
    .wrapper .menu-logo .img-logo {
      position: relative;
      top: 20px;
      left: 100px; }
  .wrapper .home .container {
    width: 100%;
    height: 800px;
    text-align: center; }
  .wrapper .home .border {
    border-bottom: 4px solid #4bcaff; }
  .wrapper .home h1 {
    font-size: 38px;
    font-family: "Lato";
    font-weight: 100; }
  .wrapper .home h1 > span {
    font-weight: bold; }
  .wrapper .home .home-content {
    position: absolute;
    top: 270px;
    left: 700px;
    color: #ffffff; }
  .wrapper .home .slider {
    position: relative;
    height: 800px; }
  .wrapper .home .slick-slide img {
    width: 100%;
    height: 796px; }
  .wrapper .home .home-content-text {
    margin-top: 30px;
    width: 536px;
    height: 115px;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 300; }
  .wrapper .home .button-download {
    padding: 15px 40px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: rgba(114, 179, 204, 0);
    color: #ffffff;
    font-size: 25px;
    margin-right: 20px; }
  .wrapper .home .button-download:hover {
    background-color: #4bcaff;
    font-weight: bold; }
  .wrapper .home .Aavailable {
    margin-top: 40px; }
  .wrapper .home .fa {
    border-radius: 50%;
    background-color: #030303;
    padding: 10px 13px;
    color: #4bcaff;
    font-size: 28px;
    margin-right: 20px;
    margin-left: 10px; }
  .wrapper .home .fa-android:hover,
  .wrapper .home .fa-apple:hover {
    color: #ffffff; }
  .wrapper .summarise {
    margin-top: -30px; }
    .wrapper .summarise .container {
      background-color: #f9f9f9;
      padding-top: 100px;
      width: 100%;
      height: 580px; }
    .wrapper .summarise .heading-content {
      text-align: center; }
    .wrapper .summarise .heading-content h3 {
      font-size: 40px; }
    .wrapper .summarise .heading-content p {
      font-size: 22px; }
    .wrapper .summarise .row {
      margin-top: 50px; }
    .wrapper .summarise .features-content {
      float: left;
      width: 25%;
      text-align: center; }
    .wrapper .summarise .features-content i {
      background: #4bcaff;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      color: #fff;
      font-size: 85px;
      padding-top: 35px;
      margin-bottom: 20px;
      /*padding-left: 30px;*/
      text-align: center; }
    .wrapper .summarise .features-content h5 {
      text-align: center;
      margin-bottom: 20px; }
    .wrapper .summarise .features-content p {
      text-align: center;
      width: 273px;
      height: 78px;
      font-size: 13px;
      line-height: 22px;
      color: #838383;
      font-family: "Lato";
      font-weight: 400;
      padding-left: 56px; }
    .wrapper .summarise .features-content i:hover {
      background: #414042; }
  .wrapper .gallery .container {
    padding-top: 100px;
    width: 100%;
    height: 580px; }
  .wrapper .gallery .heading-content {
    text-align: center; }
  .wrapper .gallery .heading-content h3 {
    font-size: 40px; }
  .wrapper .gallery .heading-content p {
    font-size: 22px; }
  .wrapper .gallery .row {
    margin-top: 50px; }
  .wrapper .gallery .gallery-item {
    float: left;
    width: 25%;
    text-align: center; }
  .wrapper .gallery .gallery-content {
    border-radius: 10px 10px 0px 0px;
    position: relative;
    overflow: hidden;
    text-align: center; }
    .wrapper .gallery .gallery-content:hover .img-overplay {
      text-align: center;
      top: 0px;
      left: 37px;
      border-radius: 10px 10px 0px 0px;
      opacity: 0.7; }
  .wrapper .gallery .gallery-content img {
    width: 260px;
    height: 200px; }
  .wrapper .gallery .img-overplay {
    width: 260px;
    height: 74%;
    position: absolute;
    background: rgba(83, 160, 192, 0.9);
    text-align: center; }
  .wrapper .gallery .gallery-content h5 {
    text-align: center;
    width: 260px;
    height: 50px;
    background-color: #414042;
    position: absolute;
    top: 150px;
    left: 37px;
    font-size: 15px;
    color: #4bcaff;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding-top: 17px; }
  .wrapper .gallery .gallery-item p {
    text-align: center;
    width: 273px;
    height: 78px;
    font-size: 13px;
    line-height: 22px;
    color: #838383;
    font-family: "Lato";
    font-weight: 400;
    padding-left: 56px; }
  .wrapper .gallery .gallery-icon a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-family: "Font Awesome"; }
  .wrapper .gallery .gallery-icon {
    position: absolute;
    color: red;
    z-index: 1; }
  .wrapper .gallery .gallery-content:hover .gallery-icon {
    bottom: 50%;
    left: 50%;
    text-align: center;
    font-weight: bold; }
  .wrapper .video .container {
    position: relative;
    width: 100%; }
  .wrapper .video .container img {
    height: 540px;
    width: 1340px; }
  .wrapper .video .video-content {
    position: absolute;
    text-align: center;
    top: 160px; }
  .wrapper .video .video-content a {
    padding: 13px 50px;
    border-radius: 8px;
    background-color: rgba(114, 179, 204, 0);
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 42px; }
  .wrapper .video .video-content h2 {
    font-size: 48px;
    font-family: "Lato";
    font-weight: 100;
    margin-top: 37px;
    color: #fff; }
  .wrapper .video .video-content h2 span {
    font-weight: bold; }
  .wrapper .video .video-content p {
    height: 70px;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 300;
    color: #ffff;
    text-align: center;
    margin: 25px 348px; }
  .wrapper .price .container {
    padding-top: 100px;
    width: 100%;
    height: 760px; }
  .wrapper .price .heading-content {
    text-align: center; }
  .wrapper .price .heading-content h3 {
    font-size: 40px; }
  .wrapper .price .heading-content p {
    font-size: 22px; }
  .wrapper .price .row {
    margin-top: 50px;
    text-align: center;
    /*padding : 0px 179px;*/ }
  .wrapper .price .price-item {
    float: left;
    margin: 0px 30px; }
  .wrapper .price .price-content {
    width: 300px;
    height: 415px;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #dad7d7; }
  .wrapper .price .price-item:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2); }
  .wrapper .price .price-content h4 {
    font-size: 17px;
    text-transform: uppercase;
    color: #d7d7d7;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    padding: 20px 0px; }
  .wrapper .price .price-content h2 {
    width: 300px;
    height: 115px;
    background-color: #91c46b;
    font-size: 85px;
    color: #ffffff;
    font-family: "Droid Sans";
    font-weight: 700;
    text-align: center;
    padding-top: 10px; }
  .wrapper .price .price-content ul li {
    list-style-type: none;
    font-size: 18px;
    color: #d7d7d7;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    padding-top: 20px; }
  .wrapper .price .price-content a {
    padding: 20px 30px;
    border-radius: 3px;
    background-color: #91c46b;
    text-decoration: none;
    font-size: 15px;
    color: #fefefe;
    font-family: "Lato";
    font-weight: 700; }
    .wrapper .price .price-content a:hover {
      background-color: #414042; }
  .wrapper .price .price-content ul {
    margin-bottom: 50px; }
  .wrapper .price .basic {
    margin-left: 130px; }
    .wrapper .price .basic:hover ul li, .wrapper .price .basic:hover h4 {
      color: #91c46b; }
  .wrapper .price .advance {
    margin-right: 110px; }
    .wrapper .price .advance:hover ul li, .wrapper .price .advance:hover h4 {
      color: #fd7c00; }
  .wrapper .price .professional:hover ul li, .wrapper .price .professional:hover h4 {
    color: #4bcaff; }
  .wrapper .price .professional h2 {
    background: #4bcaff; }
  .wrapper .price .professional a {
    background-color: #4bcaff; }
  .wrapper .price .professional ul li {
    margin-top: -10px; }
  .wrapper .price .advance h2 {
    background-color: #fd7c00; }
  .wrapper .price .advance a {
    background-color: #fd7c00; }
  .wrapper .Testimonials .container {
    padding-top: 80px;
    width: 100%;
    height: 420px;
    background-color: #f9f9f9; }
  .wrapper .Testimonials .heading-content {
    text-align: center; }
  .wrapper .Testimonials .heading-content h3 {
    font-size: 40px; }
  .wrapper .Testimonials .testimonial-photo {
    width: 185px;
    height: 85px;
    float: left;
    margin-right: 30px; }
  .wrapper .Testimonials .testimonial-photo img {
    width: 150px;
    height: 170px; }
  .wrapper .Testimonials .testimonial-content {
    width: 340px;
    height: 180px;
    float: left; }
  .wrapper .Testimonials .testimonial-content h6 strong,
  .wrapper .Testimonials .testimonial-content p {
    font-size: 14px;
    /* letter-spacing: 0px; */
    line-height: 18px;
    margin-top: 38px;
    color: #4bcaff;
    font-family: "Lato";
    font-weight: 700; }
  .wrapper .Testimonials .row {
    margin: 40px 380px;
    width: 556px;
    height: 240px; }
  .wrapper .Testimonials .testimonial-content h6 {
    margin-top: 15px;
    text-align: right; }
  .wrapper .Testimonials .slick-prev:before,
  .wrapper .Testimonials .slick-next:before {
    content: ''; }
  .wrapper .Testimonials .slick-prev,
  .wrapper .Testimonials .slick-next {
    opacity: 0; }
  .wrapper .Testimonials .slick-dots li button:before {
    background-color: #4bcaff;
    width: 50px;
    height: 6px;
    opacity: 0.3; }
  .wrapper .Testimonials .slick-dots li {
    margin: 0px  20px; }
  .wrapper .Testimonials .slick-dots li.slick-active button:before {
    opacity: 1;
    background: #4bcaff;
    content: '';
    width: 50px;
    height: 6px; }
  .wrapper .download-now .container {
    width: 100%;
    height: 210px;
    background-color: #414042; }
  .wrapper .download-now .heading-content {
    text-align: center; }
  .wrapper .download-now .heading-content h2 {
    font-size: 55px;
    letter-spacing: -3px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    padding: 30px; }
  .wrapper .download-now .heading-content button {
    width: 195px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0px 4px 0px #277697;
    background-color: #4bcaff; }
  .wrapper .contact {
    position: relative; }
    .wrapper .contact .container {
      position: relative; }
    .wrapper .contact .row {
      width: 324px;
      height: 460px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      background-color: rgba(75, 202, 255, 0.8);
      position: absolute;
      top: 120px;
      left: 38%; }
    .wrapper .contact .row form h3 {
      font-size: 36px;
      color: #ffffff;
      font-family: "Lato";
      font-weight: 700;
      text-align: center;
      padding: 20px 0px; }
    .wrapper .contact .form-group textarea,
    .wrapper .contact .form-group input {
      width: 270px;
      height: 34px;
      border-radius: 4px;
      background-color: #ffffff;
      margin: 0px 45px 15px 24px;
      text-align: center; }
    .wrapper .contact .form-control {
      height: 35px; }
    .wrapper .contact .row form .contact-btn {
      width: 190px;
      height: 45px;
      border-radius: 6px;
      box-shadow: 0px 4px 0px #313032;
      background-color: #414042;
      font-size: 15px;
      color: #72b3cc;
      font-family: "Lato";
      font-weight: 700;
      text-align: center;
      box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
      margin: 0px 45px 20px 60px;
      text-align: center; }
    .wrapper .contact .row form .contact-btn:hover {
      background: #fff; }
    .wrapper .contact .form-group textarea {
      width: 270px;
      height: 145px;
      border-radius: 4px;
      box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.06);
      background-color: #ffffff; }
  .wrapper .footer .container {
    width: 100%;
    height: 110px;
    background-color: #414042; }
  .wrapper .footer .row {
    padding: 50px 120px; }
  .wrapper .footer .copyright {
    float: left; }
  .wrapper .footer .text-right {
    float: right; }
  .wrapper .footer .text-right p,
  .wrapper .footer .copyright p {
    font-size: 12px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 400; }

/*# sourceMappingURL=style.css.map */
